@inherits LayoutComponentBase


<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="minimal-container">
            <div class="login-card">
                @Body
            </div>

        </div>
    </main>
</div>

