@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/api/login/userlogout" type="button" class="btn btn-primary">Logout</a>
        </div>

        <article class="content px-4">
            <Toast />
            @Body
        </article>
    </main>
</div>

