@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/api/login/userlogout" type="button" class="btn btn-primary">Logout</a>
        </div>

        <article class="content px-4">
            @* <div style="position: fixed; top: 1rem; right: 1rem; background: red; color: white; padding: 1rem; z-index: 9999;">
                Test Toast
            </div> *@

            <Toast />
            @Body
        </article>
    </main>
</div>

