@inherits LayoutComponentBase

<div class="wrapper">
    <NavMenu />
    <div class="content-wrapper" style="min-height:100vh; margin-left:0;">
        <section class="content">
            <Toast />
            @Body
        </section>
    </div>
    <div id="loading" style="display:none;">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <footer class="main-footer">
        <strong>Copyright © @DateTime.Now.Year <a href="#!"></a>.</strong>
        All rights reserved.
    </footer>
</div>
@* <div class="page">
    <div class="sidebar">
        
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/api/login/userlogout" type="button" class="btn btn-primary">Logout</a>
        </div>

        <article class="content px-4">

            
            @Body
        </article>
    </main>
</div> *@

