@page "/home"
@using Microsoft.AspNetCore.Authentication.Cookies
@attribute [Authorize]
@layout MainLayout
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name!</h1>
        <p>Welcome to your new app.</p>

        <button class="btn btn-success" @onclick="ShowSuccess">Show Success</button>
        <button class="btn btn-warning" @onclick="ShowWarning">Show Warning</button>
        <button class="btn btn-danger" @onclick="ShowError">Show Danger</button>

    </Authorized>
    <NotAuthorized>
        <p>You are not authorized. Please log in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    void ShowSuccess()
    {
        ToastService.ShowToast("Operation completed successfully!", "success", "Success");
    }

    void ShowWarning()
    {
        ToastService.ShowToast("This action might have consequences.", "warning", "Warning");
    }

    void ShowError()
    {
        ToastService.ShowToast("Something went wrong!", "error", "Error");
    }


}