@page "/home"
@using Microsoft.AspNetCore.Authentication.Cookies
@attribute [Authorize]
@layout MainLayout
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name!</h1>
        <p>Welcome to your new app.</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized. Please log in.</p>
    </NotAuthorized>
</AuthorizeView>

